<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <!-- Required meta tags -->
    <meta charset="utf-8">

    <title>Hotel Mama</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href={{ url_for("static", filename="styles.css") }}>

  </head>
  {% extends "base.html" %}
  {% block content %}
  <body>

		<div class="container" style="min-height:100% width:80%">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    {% for message in messages %}
				  <div class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{message}}
				  </div>
				{% endfor %}
			  {% endif %}
			{% endwith %}
		</div>


<div class="container-fluid">
<h4> Let's make a menu based on your preferences:</h4>
<form  method="POST">
  <div class="form-group">
    <label for="FormControlInput1">Calorie Target per Day</label>
    <input type="text" class="form-control" id="FormControlInput1" name='input1' placeholder="e.g. 1000">
  </div>
  <div class="form-group">
    <label for="FormControlSelect1">Diet</label>
    <select class="form-control" id="FormControlSelect1" name='input2'>
			<option>Standard</option>
      <option>Gluten Free</option>
      <option>Ketogenic</option>
      <option>Lacto-Vegetarian</option>
      <option>Vegetarian</option>
      <option>Vegan</option>
			<option>Pescetarian</option>
			<option>Primal</option>
			<option>Whole30</option>
    </select>
  </div>
  <div class="form-group">
    <label for="FormControlTextarea1">Exclude these products:</label>
    <textarea class="form-control" id="FormControlTextarea1" name='input3' rows="3" placeholder='Enter products separated by commas...'></textarea>
  </div>
	<button type="submit" class="btn btn-dark">Submit</button>
</form>

</div>
{% endblock %}
</body>
