<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Hotel Mama</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href={{ url_for("static", filename="styles.css") }}>

  </head>
  {% extends "base.html" %}
  {% block content %}
  <body>
		<br>

	  <br>

		<div class="container" style="min-height:100% width:80%">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    {% for message in messages %}
				  <div class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{message}}
				  </div>
				{% endfor %}
			  {% endif %}
			{% endwith %}
		</div>

		<br>
  <style>
  	.custom-file-input.selected:lang(en)::after {
  		content: "" !important;
  	}

  	.custom-file {
  		overflow: hidden;
  	}

  	.custom-file-input {
  		white-space: nowrap;
  	}
  </style>

		<div class="container-fluid">

	      <h1 class="text-lg-center" > Upload your recipe </h1>


  <form method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlInput1">What is the title of your recipe?</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name='title' placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">How many minutes will it take us to cook your lovely dish?</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name='Time' placeholder="Time">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Tell us how we can cook your delicious meal!</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name = 'Recipe' rows="3" placeholder="Recipe"></textarea>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFileInput" name='input1' aria-describedby="customFileInput">
    <label class="custom-file-label" for="customFileInput">Select file</label>
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-dark">Submit</button>
  <br>
  <br>
</form>
<br>
<br>
<script>
	document.querySelector('.custom-file-input').addEventListener('change', function (e) {
		var name = document.getElementById("customFileInput").files[0].name;
		var nextSibling = e.target.nextElementSibling
		nextSibling.innerText = name
	})
</script>


		</div>

	{% endblock %}
	</body>
</html>
